CONFIG VCCAUX = "3.3" ;
NET "i_OscClk"          LOC = A10     | IOSTANDARD = LVCMOS33 | PERIOD = 50MHz ;
   
NET "o_UART0_TX"        LOC = A14      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
